<div class="squad-members">
    <ul>
        <li>
            <a>
                <img src=" <%- member.avatar %> " alt=" <%- member.name %> " />
                <span> <%- member.name %> <%- member.prefix %> <%- member.surname %></span>  
            </a>
        </li>
        <li>
            <a>
                <img src=" <%- member.avatar %> " alt=" <%- member.name %> " />
                <span> <%- member.name %> <%- member.prefix %> <%- member.surname %></span>  
            </a>
        </li>
        <li>
            <a>
                <img src=" <%- member.avatar %> " alt=" <%- member.name %> " />
                <span> <%- member.name %> <%- member.prefix %> <%- member.surname %></span>  
            </a>
        </li>
        <li>
            <a>
                <img src=" <%- member.avatar %> " alt=" <%- member.name %> " />
                <span> <%- member.name %> <%- member.prefix %> <%- member.surname %></span>  
            </a>
        </li>
        <li>
            <a>
                <img src=" <%- member.avatar %> " alt=" <%- member.name %> " />
                <span> <%- member.name %> <%- member.prefix %> <%- member.surname %></span>  
            </a>
        </li>
    </ul>
</div>