<div class="squad-members">
  <ul>
    <% squad.members.forEach(member => { %>
    <li>
      <!-- Wanneer  -->
      <% if (member.avatar) { %>
      <img
        src="<%= member.avatar %>"
        alt="De avatar van <%= member.name %>"
      />
      <% }else{ %>
      <svg
        class="anonymous"
        width="64"
        height="64"
        viewBox="0 0 64 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M64 32C64 41.0252 60.2637 49.1777 54.2535 54.9953C50.692 46.2023 42.0703 40 32 40C21.9297 40 13.308 46.2023 9.74647 54.9953C3.73628 49.1777 0 41.0252 0 32C0 14.3269 14.3269 0 32 0C49.6731 0 64 14.3269 64 32ZM32 35.2C38.6274 35.2 44 29.8274 44 23.2C44 16.5726 38.6274 11.2 32 11.2C25.3726 11.2 20 16.5726 20 23.2C20 29.8274 25.3726 35.2 32 35.2Z"
          fill="#647FB3"
        />
      </svg>

      <% } %>
      <article>
        <h2>
          <%= member.name %> <%= member.prefix %> <%=
          member.surname %>
        </h2>
      </article>
      <article>
        <small> <%= member.role %> </small>
        <a
          aria-label="Ga naar de webiste van <%= member.name %>"
          href="<%= member.website %> "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width=""
            height=""
            fill="none"
          >
            <path
              fill=""
              fill-rule="evenodd"
              d="M23 40.868c1.783-1.002 4.408-3.112 6.364-6.868H23v6.868Zm2.378.848A19.994 19.994 0 0 0 38 34h-6.409c-1.75 3.778-4.162 6.24-6.214 7.716ZM32.407 32h6.916a19.887 19.887 0 0 0 2.651-9h-7.988c-.096 3.525-.692 6.502-1.58 9Zm-.422-9H23v9h7.272c.95-2.422 1.61-5.39 1.714-9Zm0-2H23v-9h7.327c.918 2.456 1.557 5.442 1.659 9Zm2 0h7.99a19.887 19.887 0 0 0-2.652-9H32.45c.865 2.537 1.443 5.53 1.537 9Zm-2.315-11h6.33a20 20 0 0 0-12.177-7.635c1.427 1.03 2.943 2.587 4.27 4.673A22.252 22.252 0 0 1 31.67 10Zm-2.206 0H23V3.056c1.392.534 3.543 2.126 5.406 5.056.368.578.724 1.207 1.059 1.888ZM21 32v-9h-8.986c.104 3.61.764 6.578 1.714 9H21Zm-9.407 0c-.888-2.498-1.484-5.475-1.58-9H2.025a19.886 19.886 0 0 0 2.65 9h6.918ZM21 21h-8.986c.102-3.558.74-6.544 1.66-9H21v9Zm-10.987 0c.094-3.47.672-6.463 1.537-9H4.676a19.886 19.886 0 0 0-2.651 9h7.988ZM21 10h-6.465c.335-.68.69-1.31 1.059-1.888C17.458 5.182 19.608 3.59 21 3.056V10Zm-7.094-2.962c1.327-2.086 2.843-3.643 4.27-4.673A20 20 0 0 0 5.999 10h6.33a22.252 22.252 0 0 1 1.577-2.962ZM6 34h6.409c1.75 3.778 4.162 6.24 6.214 7.716A19.994 19.994 0 0 1 6 34ZM21 34v6.868c-1.783-1.002-4.408-3.112-6.364-6.868H21Zm1 10c12.15 0 22-9.85 22-22S34.15 0 22 0 0 9.85 0 22s9.85 22 22 22Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </article>
    </li>
    <% }) %>
  </ul>
</div>
