<%- include('./partials/head.ejs') %>

<body>
<main>
    <section>
        <%- include('./partials/page-title.ejs') %>

        <%- include('./partials/coffee-machine.ejs') %>
    </section>
    <section>
        <%- include('./partials/squad-members.ejs') %>
    </section>
</main>

<%- include('./partials/foot.ejs') %>