<%- include('./partials/head.ejs') %>

<body>
<main>
    <section>
        <div class="title">
            <h1>Kies een drankje</h1>
            <h2>en maak kennis met <%= squad.name %></h2>
        </div>
        <%- include('./partials/coffee-machine.ejs') %>
    </section>
    <section>
        <%- include('./partials/squad-members.ejs') %>
    </section>
</main>
</body>

<%- include('./partials/foot.ejs') %>