<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <main>
    <section>
      <%- include('./partials/page-title.ejs') %> <%-
      include('./partials/coffee-machine.ejs') %>
    </section>
    <section>
      <%- include('./partials/squad-members.ejs') %>
    </section>
  </main>

  <%- include('./partials/foot.ejs') %>
</body>
